VITE_AUTH_LOGIN_ENDPOINT=
VITE_AUTH_SIGNUP_ENDPOINT=
VITE_LEGAKTE_SEARCH_ENDPOINT=
VITE_LEGAKTE_BEARER_TOKEN=
VITE_LEGAKTE_DIRIGEANTS_ENDPOINT=
VITE_VERIFF_SESSION_ENDPOINT=
VITE_STRIPE_PAYMENT_LINK=
