VITE_LEGAKTE_SEARCH_ENDPOINT=http://127.0.0.1:8000/lite/identification-entreprise/search
VITE_LEGAKTE_BEARER_TOKEN=
VITE_LEGAKTE_DIRIGEANTS_ENDPOINT=http://127.0.0.1:8000/api/dirigeants
VITE_STRIPE_PAYMENT_LINK=https://buy.stripe.com/28E8wP8X1gtzeOv7Wz7AI00
